	* {
		margin:0;
		padding: 0;
		font-family: 'Roboto', sans-serif;

	}
	.home-screen {
		width:100%;
		height: 100%;
		background-color: #2F4858;
		display: block;
		transition-delay: 0.2s;
		transition: 1s ease-out;
		 
	}
	.home-container {
		width: 50%;
		margin: 0 auto;
		padding-top: 5rem;
		color:white;
		user-select: none;  

	}
	.home-modal {
		width: 30rem;
		height:35rem;
		margin: 0 auto;
		padding-top: 2.5rem;
		background-color: #E86268;
		border-radius: 2em;
		border: 0.2em solid  #b34b50;
		box-sizing: border-box;
	}
	.home-modal h2 {
		text-align: center;
		font-size: 2.5em;
	 	color: white;
		text-shadow: 0.1em 0.1em #6d4d7d;
	}
	.home-modal form {
		margin-top: 2rem;
		font-size: 1.5em;

	}
	.home-modal form label {
		line-height: 3em;
		text-shadow: 0.1em 0.1em #6d4d7d;
	}
	.home-modal input {
		height:2rem;
		width: 12rem;
		border-radius: 0.4em;
		border:none;
	}
	 
	.home-modal .playAgainstAiCheckBox{
		width:2rem;
	}
	.home-modal .playAgainstAiStyle {
		line-height:2em;
		vertical-align: bottom;
	}
	.submitPlayerName {
		margin-top: 3rem;
		width:12rem; 
		height:3rem;
		background-color: #7F5A91;
		line-height: 2em;
		cursor:pointer;
		border: 0.1em solid #6d4d7d;
		border-radius: 1em
	}
	.submitPlayerName:hover {
		background-color: #6d4d7d;
		border: 0.1em solid #6d4d7d;

	}

	/*GAME SCREEN START*/
	.game-screen {
		width:100%;
		height:100%;
		background-color: #2F4858;
		user-select: none; 
		display: none;
		transition: 1s ease-out;

	}
	.currentGameStatus {
		padding-top: 3%;
		font-size: 2em;
		color: white;
		text-align: center
	}
	.currentScore {
		font-size: 1.2em;
		color: #F28438;
		padding-top: 1.5%;
		text-align: center
	} 
	.box-container {
		padding-top: 3%;
		display:flex;
		flex-wrap: wrap;
		height:24rem;
		width:24rem;
	 	margin: 0 auto;
		height: 0 auto;
	}
	.box {
		background-color: #2F4858;
		height:8rem;
		width:8rem;
		text-align: center;
		line-height: 1em; /*for vertical alignment*/
		font-size: 6em;
		color:white;
		 
	}
	.box:nth-child(4), .box:nth-child(5), .box:nth-child(6) {
		border-top: 0.05em solid #E86268;
		border-bottom: 0.05em solid #E86268;
		box-sizing: border-box;
	}
	.box:nth-child(2), .box:nth-child(5), .box:nth-child(8) {
		border-left: 0.05em solid #E86268;
		border-right: 0.05em solid #E86268;
		box-sizing: border-box;
	}
	.game-buttons-container {
		display: flex;
		width:24rem;
		padding-top: 3rem;
	}
	.button {
		width:11rem;
		height:3rem;
		background-color: #00BEA1;
		border:2px solid #00a68c;
		box-sizing: border-box;
		border-radius: 1.5em;
		color:white;
		font-size: 1.2em;
		text-align: center;
		line-height: 2.25em;
		letter-spacing: 0.3em;
	}
	.button:hover {
		background-color: #009981;
		border:2px solid #00866D;
		cursor:pointer;

	}
	.homeScreenButton {
		margin-left: 2rem;
	}
	/*color palette*/
	/*https://mycolor.space/?hex=%23F28438&sub=1 */